[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
whitenoise = "*"
django-heroku = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
